.galery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;

    @media (max-width: 768px) {
        display: none;
    }
    
    .titulo {
        padding-top: 150px;
        padding-bottom: 40px;
        font-family: bladeRunner;
        text-align: center;
        font-size: 5em;
        color: #fff;
    }
    
    &__container {
        width: 70vw;
        height: 70vh;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
