.hero {
        &__background {
                height: 100vh;
                width: 100%;
                object-fit: fill;

        @media (max-width: 1024px) {
                padding-top: 70px;
                height: auto;
                display: block;
                }
        }
}